[Unit]
Description=resize root file system
Before=systemd-remount-fs.service
DefaultDependencies=no

[Service]
Type=oneshot
TimeoutSec=600
ExecStart=/usr/sbin/rpi3-resizerootfs
ExecStart=/bin/systemctl --no-reload disable %n

[Install]
RequiredBy=systemd-remount-fs.service
